<div class="container">
  <h1>{{titulo}}</h1>
  <p>&nbsp;</p>
  <div class="row">
   <form class="form-horizontal" id="form-clientes" >
     <div class="form-group">
       <label for="nro" class="col-sm-2 control-label">Nro.</label>
       <div class="col-sm-2">
         <input type="text" class="form-control text-center" id="id" name="id" value="{{ contri.id_contribuyente}}" readonly>
       </div>
     </div>
     <div class="form-group">
       <label for="nombre" class="col-sm-2 control-label">Nombre</label>
       <div class="col-sm-4">
         <input type="text" class="form-control" id="nombre" name="nombre" value="{{ contri.nombre }}">
       </div>
     </div>
     <div class="form-group">
       <label for="apellido" class="col-sm-2 control-label">Apellido</label>
       <div class="col-sm-4">
         <input type="text" class="form-control" id="apellido" name="apellido" value="{{ contri.apellido }}">
       </div>
     </div>
     
     <div class="form-group">
       <label for="documento" class="col-sm-2 control-label">Documento</label>
       <div class="col-sm-4">
         <input type="text" class="form-control" id="documento" name="documento" value="{{ contri.documento }}">
       </div>
     </div>
     <div class="form-group">
       <label for="domicilio" class="col-sm-2 control-label">Domicilio</label>
       <div class="col-sm-4">
         <input type="text" class="form-control" id="domicilio" name="domicilio" value="{{ contri.domicilio }}">
       </div>
     </div>
     
     <div class="form-group">
       <label for="telefono" class="col-sm-2 control-label">Teléfono</label>
       <div class="col-sm-4">
         <input type="text" class="form-control" id="telefono" name="telefono" value="{{ contri.telefono }}">
       </div>
     </div>
     <div class="form-group">
       <label for="mes" class="col-sm-2 control-label">Mes de pago</label>
       <div class="col-sm-4">
         <select class="form-control" id="mes" name="mes">
           <option value="1">Enero</option>
           <option value="2">Febrero</option>
           <option value="3">Marzo</option>
           <option value="4">Abril</option>
           <option value="5">Mayo</option>
           <option value="6">Junio</option>
           <option value="7">Julio</option>
           <option value="8">Agosto</option>
           <option value="9">Setiembre</option>
           <option value="10">Octubre</option>
           <option value="11">Noviembre</option>
           <option value="12">Diciembre</option>
         </select>
       </div>
       </div>
       <div class="form-group">
       <label for="ciclo" class="col-sm-2 control-label">Ciclo</label>
       <div class="col-sm-4">
         <select class="form-control" id="ciclo" name="ciclo">
           {{#each ciclos}}
            <option value="{{ id_ciclo }}">{{ ciclo }}</option>
           {{/each}}
         </select>
       </div>
     </div>
     
     <input type="submit" class="btn btn-default" value="Guardar">
   </form>
  </div>
</div>


