<div class="container">
  <h1>{{titulo}}</h1>
  <p>&nbsp;</p>
  <div class="row">
    <div class="col-sm-8">
   <form class="form-horizontal" id="form-editar-contribuyentes" >
     <div class="form-group">
       <label for="nro" class="col-sm-4 control-label">Nro.</label>
       <div class="col-sm-8">
         <input type="text" class="form-control text-center" id="id" name="id" value="{{ contri.id_contribuyente}}" readonly>
       </div>
     </div>
     <div class="form-group">
       <label for="nombre" class="col-sm-4 control-label">Nombre</label>
       <div class="col-sm-8">
         <input type="text" class="form-control" id="nombre" name="nombre" value="{{ contri.nombre }}">
       </div>
     </div>
     <div class="form-group">
       <label for="apellido" class="col-sm-4 control-label">Apellido</label>
       <div class="col-sm-8">
         <input type="text" class="form-control" id="apellido" name="apellido" value="{{ contri.apellido }}">
       </div>
     </div>

     <div class="form-group">
       <label for="domicilio" class="col-sm-4 control-label">Domicilio</label>
       <div class="col-sm-8">
         <input type="text" class="form-control" id="domicilio" name="domicilio" value="{{ contri.domicilio }}">
       </div>
     </div>

     <div class="form-group">
       <label for="telefono" class="col-sm-4 control-label">Teléfono</label>
       <div class="col-sm-8">
         <input type="text" class="form-control" id="telefono" name="telefono" value="{{ contri.telefono }}">
       </div>
     </div>
     <div class="form-group">
       <label for="id_categoria_fk" class="col-sm-4 control-label">Categoría</label>
       <div class="col-sm-8">
         <select class="form-control" id="id_categoria_fk" name="id_categoria_fk">
           {{#each categorias}}
           <option value="{{ id_categoria }}" {{ selected }}>{{ importe }}
             {{/each}}

           </select>
         </div>
       </div>
     <div class="form-group">
       <label for="mes" class="col-sm-4 control-label">Mes de pago</label>
       <div class="col-sm-8">
         <select class="form-control" id="mes" name="mes">
           <option value="1">Enero</option>
           <option value="2">Febrero</option>
           <option value="3">Marzo</option>
           <option value="4">Abril</option>
           <option value="5">Mayo</option>
           <option value="6">Junio</option>
           <option value="7">Julio</option>
           <option value="8">Agosto</option>
           <option value="9">Setiembre</option>
           <option value="10">Octubre</option>
           <option value="11">Noviembre</option>
           <option value="12">Diciembre</option>
         </select>
       </div>
       </div>
       <div class="form-group">
       <label for="ciclo" class="col-sm-4 control-label">Ciclo</label>
       <div class="col-sm-8">
         <select class="form-control" id="ciclo" name="ciclo">
           {{#each ciclos}}
            <option value="{{ id_ciclo }}" {{ selected }}>{{ ciclo }}</option>
           {{/each}}
         </select>
       </div>
     </div>
      <div class="col-sm-4"></div>

     <input type="submit" class="btn btn-default" value="Guardar">
   </form>
 </div>
   <div class="col-sm-4">
     <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Cuotas Pendientes</h3>
      </div>
      <div class="panel-body" id="cuotas">
        <span id="boton">Ver</span>
      </div>
    </div>

   </div>
  </div>
</div>
<script>
  let boton = document.getElementById('boton')
  boton.addEventListener('click' ,getSaldo)

  async function getSaldo() {
    let id = document.getElementById('id').value
    let result = document.getElementById('cuotas')
    let formData = new FormData()
    formData.append('id', id)
    let res = await fetch('/contribuyentes/saldo/', {
      method: 'POST',
      body: formData
    })
    let respuesta = await res.json()
    let importe = 0
    let texto = ''
    console.log(respuesta)
    texto += `<table class='table'>
              <tr><th>Mes de cargo</th><th>Importe</th></tr>`
    respuesta.result.forEach(function(c) {
      texto+= `<tr><td>${c.mes}/${c.anio}</td><td>${c.importe}</td></tr>`
      importe+= c.importe
    })
    texto+=`<tr><td>Total</td><td>${importe}</td></tr>`
    texto+= '</table>'
    result.innerHTML = texto
  }





</script>
