<div class="container">
  <h1>{{titulo}}</h1>
  <p>&nbsp;</p>
  <div class="row">
   <form class="form-horizontal" id="form-residentes" >
     <div class="form-group">
       <label for="nro" class="col-sm-2 control-label">Nro.</label>
       <div class="col-sm-4">
         <input type="text" class="form-control text-center" id="id" name="id" value="{{ residente.id_residente}}" readonly>
       </div>
     </div>
     <div class="form-group">
       <label for="nombre" class="col-sm-2 control-label">Nombre</label>
       <div class="col-sm-4">
         <input type="text" class="form-control" id="nombre" name="nombre" value="{{residente.nombre}}">
       </div>
     </div>
     <div class="form-group">
       <label for="apellido" class="col-sm-2 control-label">Apellido</label>
       <div class="col-sm-4">
         <input type="text" class="form-control" id="apellido" name="apellido" value="{{residente.apellido}}">
       </div>
     </div>

     <div class="form-group">
       <label for="documento" class="col-sm-2 control-label">Documento</label>
       <div class="col-sm-4">
         <input type="text" class="form-control" id="documento" name="documento" value="{{residente.documento}}">
       </div>
     </div>
     <div class="form-group">
       <label for="nacimiento" class="col-sm-2 control-label">Fec. Nacimiento</label>
       <div class="col-sm-4">
         <input type="text" class="form-control" id="nacimiento" name="nacimiento" value="{{residente.fecha_nacimiento}}">
       </div>
     </div>
     <div class="form-group">
       <label for="domicilio" class="col-sm-2 control-label">Domicilio</label>
       <div class="col-sm-4">
         <input type="text" class="form-control" id="domicilio" name="domicilio" value="{{residente.domicilio}}">
       </div>
     </div>
     <div class="form-group">
       <label for="tipoIngreso" class="col-sm-2 control-label">Tipo de ingreso</label>
       <div class="col-sm-4">
         <select class="form-control" id="tipo_ingreso" name="tipo_ingreso">
           {{#each residente.tipos}}
           <option value="{{tipo}}" {{selected}}>{{texto}}</option>
           {{/each}}
         </select>
       </div>
     </div>
     <div class="form-group">
       <label for="mutualista" class="col-sm-2 control-label">Mutualista</label>
       <div class="col-sm-4">
         <input type="text" class="form-control" id="mutualista" name="mutualista" value="{{residente.mutualista}}">
       </div>
     </div>

     <div class="form-group">
       <label for="cuidados" class="col-sm-2 control-label">Serv. Acompañantes</label>
       <div class="col-sm-4">
         <input type="text" id="cuidados" name="cuidados" class="form-control" value="{{residente.cuidados}}">
       </div>
       <div class="input-group col-sm-3">
         <div class="input-group-addon"><i class="fa fa-phone"></i></div>
         <input class="form-control" type="text" name="tel_cuidado" id="tel_cuidado" value="{{residente.tel_cuidado}}">
       </div>
    </div>
    <div class="form-group">
       <label for="previsora" class="col-sm-2 control-label">Previsora</label>
       <div class="col-sm-4">
         <input type="text" id="previsora" name="previsora" class="form-control" value="{{residente.previsora}}" >
       </div>
       <div class="input-group col-sm-3">
         <div class="input-group-addon"><i class="fa fa-phone"></i></div>
         <input class="form-control" type="text" name="tel_previsora" id="tel_previsora" value="{{residente.tel_previsora}}" >
       </div>
    </div>
    <div class="form-group">
       <label for="ingreso" class="col-sm-2 control-label">Ingreso</label>
       <div class="col-sm-4">
         <input type="text" name="ingreso" id="ingreso" class="form-control" value="{{residente.fecha_ingreso}}">
       </div>
    </div>
    <div class="form-group">
       <label for="familiar" class="col-sm-2 control-label">Familiar Referente</label>
       <div class="col-sm-4">
         <input type="text" name="familiar" id="familiar" class="form-control" value="{{residente.familiar}}">
       </div>
       <div class="input-group col-sm-6">
         <div class="input-group-addon">
           <label>Relación</label>
         </div>  
         <input type="text" class="form-control" name="relacion" id="relacion" value="{{residente.relacion}}">
         <div class="input-group-addon">
           <i class="fa fa-phone"></i>
         </div>
         <input class="form-control" type="text" name="telefono" id="telefono" value="{{residente.telefono}}">
       </div>
    </div>
     <input type="submit" class="btn btn-default" value="Guardar">
   </form>
  </div>
</div>

<script>
  const form = document.getElementById('form-residentes')
  form.addEventListener('submit', evt => {
    evt.preventDefault()
    const formData = new FormData(form)
    superagent
        .post('/residentes/editar')
        .send(formData)
        .end(function(res){
        /* if(res.text == 'Ok') {*/
        console.log(res)
          clearForm(form)
          //  } else {
        //result.classList.remove('loader')
        //result.innerHTML = res.text
          //  }
        })
  })
</script>