<div class="container">
  <h1>{{titulo}}</h1>
  <p>&nbsp;</p>
  <div class="row">
   <form class="form-horizontal" id="form-residentes" >
     <div class="form-group">
       <label for="nro" class="col-sm-2 control-label">Nro.</label>
       <div class="col-sm-4">
         <input type="text" class="form-control text-center" id="id" name="id" value="{{ residente.id_residente}}" readonly>
       </div>
     </div>
     <div class="form-group">
       <label for="nombre" class="col-sm-2 control-label">Nombre</label>
       <div class="col-sm-4">
         <input type="text" class="form-control" id="nombre" name="nombre" value="{{residente.nombre}}">
       </div>
     </div>
     <div class="form-group">
       <label for="apellido" class="col-sm-2 control-label">Apellido</label>
       <div class="col-sm-4">
         <input type="text" class="form-control" id="apellido" name="apellido" value="{{residente.apellido}}">
       </div>
     </div>

     <div class="form-group">
       <label for="documento" class="col-sm-2 control-label">Documento</label>
       <div class="col-sm-4">
         <input type="text" class="form-control" id="documento" name="documento" value="{{residente.documento}}">
       </div>
     </div>
     <div class="form-group">
       <label for="nacimiento" class="col-sm-2 control-label">Fec. Nacimiento</label>
       <div class="col-sm-4">
         <input type="text" class="form-control" id="nacimiento" name="nacimiento" value="{{residente.fecha_nacimiento}}">
       </div>
     </div>
     <div class="form-group">
       <label for="domicilio" class="col-sm-2 control-label">Domicilio</label>
       <div class="col-sm-4">
         <input type="text" class="form-control" id="domicilio" name="domicilio" value="{{residente.domicilio}}">
       </div>
     </div>
     <div class="form-group">
       <label for="tipoIngreso" class="col-sm-2 control-label">Tipo de ingreso</label>
       <div class="col-sm-4">
         <select class="form-control" id="tipo_ingreso" name="tipo_ingreso">
           {{#each residente.tipos}}
           <option value="{{tipo}}" {{selected}}>{{texto}}</option>
           {{/each}}
         </select>
       </div>
     </div>
     <div class="form-group">
       <label for="mutualista" class="col-sm-2 control-label">Mutualista</label>
       <div class="col-sm-4">
         <input type="text" class="form-control" id="mutualista" name="mutualista" value="{{residente.mutualista}}">
       </div>
     </div>

     <div class="form-group">
       <label for="cuidados" class="col-sm-2 control-label">Serv. Acompañantes</label>
       <div class="col-sm-4">
         <input type="text" id="cuidados" name="cuidados" class="form-control" value="{{residente.cuidados}}">
       </div>
       <div class="input-group col-sm-3">
         <div class="input-group-addon"><i class="fa fa-phone"></i></div>
         <input class="form-control" type="text" name="tel_cuidado" id="tel_cuidado" value="{{residente.tel_cuidado}}">
       </div>
    </div>
    <div class="form-group">
       <label for="previsora" class="col-sm-2 control-label">Previsora</label>
       <div class="col-sm-4">
         <input type="text" id="previsora" name="previsora" class="form-control" value="{{residente.previsora}}" >
       </div>
       <div class="input-group col-sm-3">
         <div class="input-group-addon"><i class="fa fa-phone"></i></div>
         <input class="form-control" type="text" name="tel_previsora" id="tel_previsora" value="{{residente.tel_previsora}}" >
       </div>
    </div>
    <div class="form-group">
       <label for="ingreso" class="col-sm-2 control-label">Ingreso</label>
       <div class="col-sm-4">
         <input type="text" name="ingreso" id="ingreso" class="form-control" value="{{residente.fecha_ingreso}}">
       </div>
    </div>
    <fieldset id="campos">
      <legend>Agregar Referente</legend>
      <div class="form-group">
        <div class="col-sm-11">
          <div class="input-group">
            <div class="input-group-addon">
              <i class="fa fa-user" aria-hidden="true"></i>
            </div>
            <input type="text" class="form-control" id="referente" placeholder="Nombre y apellido">
            <div class="input-group-addon">
              <i class="fa fa-users" aria-hidden="true"></i>
            </div>
            <input type="text" class="form-control" id="parentezco" placeholder="Parentezco">
            <div class="input-group-addon">
              <i class="fa fa-phone-square" aria-hidden="true"></i>
            </div>
            <input type="text" class="form-control" id="telref" placeholder="Teléfono">
            <div class="input-group-addon">
              <i class="fa fa-mobile" aria-hidden="true"></i>
            </div>
            <input type="text" class="form-control" id="celref" placeholder="Celular">
          </div>
        </div>
        <div class="col-sm-1">
          <button type="button" id="add" class="btn"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>
        </div>
      </div>
      <table id="respo" class="table table-condensed table-striped">
        <tr>
          <th>Nombre</th>
          <th>Parentezco</th>
          <th>Teléfono</th>
          <th>Celular</th>
        </tr>
      </table>
      <button type="button" class="btn" id="remover"><i class="fa fa-minus-circle" aria-hidden="true"></i></button>
    </fieldset>
    <br>

     <input type="submit" class="btn btn-default" value="Guardar">
   </form>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', async () => {
    let formData = new FormData()
    formData.append('id', document.getElementById('id').value)
    let res = await fetch('/residentes/parientes', {
      method: 'POST',
      body: formData
    })
    let respuesta = await res.json()
    let campos = document.getElementById('respo')

    respuesta.parientes.forEach(p => {
      let tr = document.createElement('tr')
      let texto = `<td>${p.nombre}</td><td>${p.parentezco}</td><td>${p.telefono}</td><td>${p.celular}</td>`
      tr.innerHTML = texto
      campos.appendChild(tr)
    })


    //console.log(respuesta)
  })

  const form = document.getElementById('form-residentes')
  form.addEventListener('submit', async evt => {
    evt.preventDefault()
    const formData = new FormData(form)
    const tabla = document.getElementById('respo')
    let parientes = []
    //console.log(tabla.childNodes[3])
    if(tabla.childNodes.length > 2 ) {
      for(let i = 2; i < tabla.childNodes.length; i++) {
        let p = {
          nombre: tabla.childNodes[i].childNodes[0].innerHTML,
          parentezco: tabla.childNodes[i].childNodes[1].innerHTML,
          telefono: tabla.childNodes[i].childNodes[2].innerHTML,
          celular: tabla.childNodes[i].childNodes[3].innerHTML
        }
        parientes.push(p)
      }
    }
    console.log(parientes)
    for(let h = 0; h < parientes.length; h++) {
      formData.append(`parientes[${h}].nombre`, parientes[h].nombre)
      formData.append(`parientes[${h}].parentezco`, parientes[h].parentezco)
      formData.append(`parientes[${h}].telefono`, parientes[h].telefono)
      formData.append(`parientes[${h}].celular`, parientes[h].celular)
    }

    let res = await fetch('/residentes/editar', {
      method: 'POST',
      body: formData
    })
    let respuesta = await res.json()
    console.log(respuesta)
    clearForm(form)
    recursiva()
  })

  document.getElementById('add').addEventListener('click', add)
  document.getElementById('remover').addEventListener('click', remove)


  function add() {

    let nombre = document.getElementById('referente')
    let tel = document.getElementById('telref')
    let cel = document.getElementById('celref')
    let parentezco = document.getElementById('parentezco')
    let campos = document.getElementById('respo')
    let tr = document.createElement('tr')
    let texto = `<td>${nombre.value}</td><td>${parentezco.value}</td><td>${tel.value}</td><td>${cel.value}</td>`
    //eldiv.classList.add('col-sm-4')
    //let p = document.createElement('p')
  //  p.classList.add('form-control-static')
    //let text = document.createTextNode(nombre.value + ' ' +tel.value)
    //p.appendChild(text)
    tr.innerHTML = texto
    campos.appendChild(tr)
    tel.value = ''
    nombre.value = ''
    cel.value = ''
    parentezco.value = ''
  }

  function remove() {
    let tabla = document.getElementById('respo')
    if(tabla.childNodes.length > 2) {
      tabla.removeChild(tabla.lastChild)
    }
  }

  function recursiva() {
    let tabla = document.getElementById('respo')
    if(tabla.childNodes.length > 2) {
      remove()
      recursiva()
    }

  }
</script>
